# Core packages
numpy
pandas
openpyxl

# Required for downloading TACO dataset
pillow
requests
jupyter
matplotlib
seaborn
graphviz
Cython

# More
fiftyone # for annotation formats convertion
beautifulsoup4
lxml

# Modelling
tensorflow-macos
tensorflow-metal
